# Backend 
Backend/.env/
Backend/__pycache__/
Backend/*.pyc
Backend/application/__pycache__/
Backend/application/*.pyc
Backend/instance/
Backend/dump.rdb
Backend/static
Backend/celerybeat-schedule*

# Frontend 
Frontend/node_modules/
Frontend/dist/
Frontend/.env

# VS Code 
.vscode/
.DS_Store
Thumbs.db

#pycache
__pycache__/
*.pyc

dump.rdb